[submodule "ruby-server"]
	path = ruby-server
  url = https://github.com/standardfile/ruby-server.git
  branch = master
  ignore = dirty
[submodule "web"]
	path = web
  url = https://github.com/standardnotes/web.git
  branch = master
  ignore = dirty
