[submodule "ruby-server"]
	path = ruby-server
  url = https://github.com/standardfile/ruby-server.git
	branch = master
[submodule "web"]
	path = web
  url = https://github.com/standardnotes/web
	branch = master
